.todoContainer {
  height: calc(100vh - 70px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.todoForm {
  width: 300px;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 0.8rem;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 2rem;
}

.todoLists {
  width: 50vw;
}

ul {
  text-align: left;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .todoLists {
    width: 70vw;
  }
}

@media screen and (max-width: 480px) {
  .todoContainer {
    padding: 2rem 1rem;
  }
  .todoForm {
    width: 100%;
  }
  .todoLists {
    width: 100%;
  }
}
